name: firmware build

on: 
    push:
        paths:
            - 'firmware/**'
    pull_request:
        paths:
            - 'firmware/**'
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12'
                
            - name: Build bin
              run: |
                pip install platformio
                pio run -d firmware
            
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                name: firmware-binary
                path: firmware/.pio/build/*/firmware.bin 