name: release build

on:
  push:
    tags:
      - 'v*'
    
jobs:
  build_firmware:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout Code
          uses: actions/checkout@v4
        
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
            
        - name: Build bin
          run: |
            pip install platformio
            pio run -d firmware
        
        - name: Upload Artifact
          uses: actions/upload-artifact@v4
          with:
            name: firmware-binary
            path: firmware/.pio/build/*/firmware.bin 
  
  build_client:
    runs-on: windows-latest
    defaults:
        run:
            working-directory: client
    steps:
        - name: Checkout Code
          uses: actions/checkout@v4
        
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
        
        - name: Install dependencies
          run:
            pip install -r requirements.txt

        - name: Build EXE
          run: |
            pyinstaller --noconsole --onefile --add-data "icon.png;." --name AmbilightStudio main.py

        - name: Upload Artifact
          uses: actions/upload-artifact@v4
          with:
            name: Ambilight-Windows-App
            path: client/dist/AmbilightStudio.exe

  create_release:
    runs-on: ubuntu-latest
    needs: [build_firmware, build_client]
    permissions:
      contents: write

    steps:
      - name: download-firmware
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: rtr_dir
      
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: rtr_dir/**/* 